# Dart/Flutter
.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
.externalNativeBuild/
.cxx/
*.iml

# IDE
.idea/
.vscode/
*.swp

# Android
android/.gradle/
android/local.properties
android/app/local.properties